body {
    min-width: 550px;
}

#container {
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'one two two three'
    'four two two three'
    'five five five three';
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.column-1 {
    grid-area: one;
    background-color: #F8594c;
}
.column-2 {
    grid-area: two;
    background-color: #FFA29B;
}
.column-3 {
    grid-area: three;
    background-color: #318B98;
}
.column-4 {
    grid-area: four;
    background-color: #E73123;
}
.column-5 {
    grid-area: five;
    background-color: #ABE646;
}
#grid {
    height: 400px ;
    width: 400px;
    display: grid;
    margin-top: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'one two three'
                         'four five six'
                         'seven eight nine';
    /*grid-column-gap: 15px;*/
    /*grid-row-gap: 15px;*/
    grid-gap: 15px;

}
.col-1 {
    grid-area: one;
    justify-self: center;
    background-color: purple;
}
.col-2 {
    grid-area: two;
    background-color: purple;
}
.col-3 {
    grid-area: three;
    background-color: purple;
}
.col-4 {
    grid-area: four;
    background-color: purple;
}
.col-5 {
    grid-area: five;
    background-color: purple;
}
.col-6 {
    grid-area: six;
    background-color: purple;
}
.col-7 {
    grid-area: seven;
    background-color: purple;
}
.col-8 {
    grid-area: eight;
    background-color: purple;
}
.col-9 {
    grid-area: nine;
    background-color: purple;
}
#grid2 {
    display: grid;
    width: 180px;
    margin-top: 15px;
    grid-template-columns: 60px 60px;
    grid-template-rows: 60px 60px;
    grid-template-areas: 'one two'
                         'three four';

}
#grid2 .col-1 {
    grid-area: one;
    background-color: red;
}
#grid2 .col-2 {
    grid-area: two;
    background-color: yellow;
}
#grid2 .col-3 {
    grid-area: three;
    background-color: purple;
}
#grid2 .col-4 {
    grid-area: four;
    background-color: green;
}
#grid2 .item-b {
    grid-column: 5/6;
    grid-row: 2/3;
    grid-auto-columns: 60px;
    background-color: blue;
}